@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: relative;
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &__menu {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 25px 0;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__title {
    margin-top: 50px;
    text-align: center;
    font-family: "PT Serif";
    color: $black;
    font-size: 90px;
    line-height: 117px;
  }
}

.header__up {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-weight: 700;
    margin-right: 19px;
  }
}

.header__content {
  &-text {
    color: $black;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    bottom: 150px;
  }
  &-button {
    position: absolute;
    bottom: 74px;
  }
  &-image {
    position: absolute;
    bottom: 20px;
    left: 50%;
  }
}

.places {
  &__inner {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin: 7px;
    border: 1px solid #d9d9de;
  }
  &__item-text {
    color: $black;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 0 19px 19px;
  }
}

// добавить просмотр картнки на весь экран

.directions {
  background-image: url("./images/direction-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $accent;
  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__title {
    padding-top: 32px;
    padding-bottom: 50px;
  }
  &__item {
    max-width: 271px;
    padding: 35px 21px;
  }
  &__item-image {
    margin: 0 auto;
  }
  &__item-text {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    line-height: 21px;
  }
}

.services {
  &__top {
    width: 100%;
    display: grid;
    grid-template: 256px 256px/ 256px 256px 544px;
    grid-gap: 32px;
    margin-bottom: 32px;
    .services__item {
      width: 256px;
      height: 256px;
    }
    .services__item:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .services__item:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .services__item:nth-child(3) {
      grid-column: 1/3;
      grid-row: 2/2;
    }
    .services__item:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2/2;
    }
    .services__item:nth-child(5) {
      width: 544px;
      height: 544px;
      grid-column: 3/3;
      grid-row: 1/2;
    }
  }
  &__bottom {
    width: 100%;
    display: grid;
    grid-template: 256px 256px/ 544px 256px 256px;
    grid-gap: 32px;
    .services__item {
      width: 256px;
      height: 256px;
    }
    .services__item:nth-child(1) {
      width: 544px;
      height: 544px;
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .services__item:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .services__item:nth-child(3) {
      grid-column: 3/3;
      grid-row: 1/2;
    }
    .services__item:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2/2;
    }
    .services__item:nth-child(5) {
      grid-column: 3/3;
      grid-row: 2/2;
    }
  }
  &__item {
    position: relative;
    width: 256px;
    height: 256px;
  }
  &__item p {
    position: absolute;
    line-height: 31px;
  }
  &__item-title {
    font-size: 18px;
    font-weight: 500;
    top: 20px;
    max-width: 218px;
    left: 15px;
  }
  &__item-price {
    font-size: 16px;
    bottom: 10px;
    max-width: 218px;
    left: 15px;
  }
  .big-item .services__item-title {
    font-size: 24px;
    max-width: 456px;
  }
  .big-item .services__item-subtitle {
    font-size: 16px;
    top: 80px;
    left: 15px;
  }
  .big-item .services__item-time {
    font-size: 16px;
    top: 105px;
    left: 15px;
  }

  .services__bottom .big-item .services__item-time {
    top: 130px;
    left: 15px;
  }
}

.about {
  &__title {
    color: $black;
    margin-bottom: 50px;
  }
  margin-top: 100px;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #c4c4c4;
  }
  &__left_side {
    width: 45%;
  }
  &__right_side {
    width: 45%;
  }
  &__left_side-text {
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }
  &__left_side-text span {
    font-weight: 500;
    text-transform: uppercase;
  }
  &__right_side-text {
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }
  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
  }
  &__item-title {
    text-align: center;
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    color: $accent;
  }
  &__item-text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
}
