@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: relative;
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &__menu {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 25px 0;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &__list-link {
    position: relative;
    &::before {
      content: "";
      bottom: -3px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      border-radius: 40px;
      transition: 0.7s all ease-in-out;
      transform: scaleX(0);
    }
    &:hover:before {
      transform: scaleX(1);
    }
  }

  &__title {
    margin-top: 50px;
    text-align: center;
    font-family: "PT Serif";
    color: $black;
    font-size: 90px;
    line-height: 117px;
  }
}

.header__up {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-weight: 700;
    margin-right: 19px;
  }
}

.header__content {
  &-text {
    color: $black;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    bottom: 150px;
  }
  &-button {
    position: absolute;
    bottom: 74px;
  }
  &-image {
    position: absolute;
    bottom: 20px;
    left: 50%;
    animation-name: header__button_animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes header__button_animation {
    0% {
      bottom: 20px;
    }
    50% {
      bottom: 35px;
    }
    100% {
      bottom: 20px;
    }
  }
}

.places {
  margin-bottom: 100px;
  &__inner {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin: 7px;
    border: 1px solid #d9d9de;
  }
  &__item-text {
    color: $black;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 0 19px 19px;
  }
}

.directions {
  padding: 50px 0px;
  background-image: url("../images/direction-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $accent;
  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__title {
    padding-top: 32px;
    padding-bottom: 50px;
  }
  &__item {
    max-width: 271px;
    padding: 35px 21px;
  }
  &__item-image {
    margin: 0 auto;
  }
  &__item-text {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    line-height: 21px;
  }
}

.services {
  &__title {
    color: $black;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(4, 256px);
    grid-gap: 30px;
  }
  &__item-1 {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  &__item-2 {
    grid-column: 2/4;
    grid-row: 1/4;
  }
  &__item-3 {
    grid-column: 1/4;
    grid-row: 2/4;
  }
  &__item-4 {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  &__item-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__item-6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &__item-7 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  &__item-8 {
    grid-column: 4/4;
    grid-row: 3/4;
  }
  &__item-9 {
    grid-column: 3/4;
    grid-row: 4/4;
  }
  &__item-10 {
    grid-column: 14/4;
    grid-row: 4/4;
  }
  img {
    cursor: pointer;
  }

  .item-wraper {
    width: 256px;
    height: 256px;
    position: relative;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      box-shadow: 0px 10px 39px 10px rgba(0, 0, 0, 0.7);
    }
  }
  .big-item .item-wraper {
    width: 544px;
    height: 544px;
  }

  &__item-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: 500;
    max-width: 218px;
  }
  &__item-price {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
    max-width: 218px;
  }
  .big-item .item-wraper .services__item-title {
    line-height: 30px;
    font-size: 24px;
    max-width: 456px;
  }
  .services__item-subtitle {
    position: absolute;
    font-size: 16px;
    top: 80px;
    left: 15px;
  }
  .services__item-time {
    position: absolute;
    font-size: 16px;
    top: 105px;
    left: 15px;
  }
  .services__item-6 .services__item-time {
    position: absolute;
    top: 130px;
  }
}

.about {
  padding-top: 100px;
  margin-bottom: 100px;
  &__title {
    color: $black;
    margin-bottom: 50px;
  }
  margin-top: 100px;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #c4c4c4;
  }
  &__left_side {
    width: 45%;
  }
  &__right_side {
    width: 45%;
  }
  &__left_side-text {
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }
  &__left_side-text span {
    font-weight: 500;
    text-transform: uppercase;
  }
  &__right_side-text {
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }
  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
  }
  &__item-title {
    text-align: center;
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    color: $accent;
  }
  &__item-text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
}

.conn {
  background-color: #e2e2e2;
  padding: 75px 0px;
  &__title {
    color: $black;
  }
  &__inputs {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__forms {
    margin: 0 auto;
    max-width: 900px;
  }
  &__forms-input {
    width: 256px;
    height: 44px;
    border: 1px solid #d9d9de;
    font-size: 16px;
    color: #a3a3a3;
    line-height: 21px;
    padding-left: 15px;
  }
  &__forms-input:nth-child(2) {
    margin: 0 32px;
  }
  &__forms-textarea {
    resize: none;
    font-size: 16px;
    padding: 15px;
    width: 900px;
    height: 112px;
    margin-top: 30px;
    border: 1px solid #d9d9de;
    color: #a3a3a3;
  }
  &__button {
    margin-top: 30px;
    color: #ffffff;
  }
  &__button:hover {
    color: $black;
  }
}

.footer {
  background-color: $black;
  padding: 50px 0;
  &__logo-link {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__texts {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.8;
  }
}

@import "media";
